* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#root {
  width: 100%;
  text-align: center;
}

.title {
  margin: 10px auto;
}

td[rowspan] {
  text-align: center;
  background-color: #e91e63;
  color: white;
  font-weight: 700;
}

.td__brand {
  background-color: #4051b5;
  color: white;
  font-weight: 700;
  padding: 10px 0;
}

.cars__table {
  width: 300px;
  border-collapse: collapse;
  margin: 0 auto;
  border: 2px solid black;
}

tr,
td {
  border: 1px solid black;
}

li {
  text-align: left;
  margin: 5px 0;
}
