* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #daf7a6;
}

table {
  width: fit-content;
  border-collapse: collapse;
}

tr,
td,
th {
  border: 1px solid #BFC1BC;
  padding: 5px;
}

td {
  text-align: center;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

button {
  border: none;
  background-color: #9CBB64;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}

thead,
tfoot {
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroes__form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid #BFC1BC;
  border-radius: 10px;
  background-color: #fff;
}

.heroes__form * {
  margin: 5px;
}

.heroes__table {
  margin: 0 20px;
  background-color: #FFFFFF;
  border: 2px solid #BFC1BC;
}
